[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
twisted = {git = "https://github.com/tomwardill/twisted.git", editable = true, ref = "bytes-search-fix"}
"zope.interface" = "*"
swagger-client = {file = "client", editable = true}
httpdate = "*"
structlog = "*"

[dev-packages]

[requires]
python_version = "3.12"
