[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
twisted = "*"
"zope.interface" = "*"
swagger-client = {file = "client", editable = true}
httpdate = "*"

[dev-packages]

[requires]
python_version = "3.12"
